html {
  font-size: 10px;
}

body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 3.6rem;
  text-align: center;
}

.tetris {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  margin: 7rem 0 2rem 0;
  background-color: var(--secondaryColor);
  gap: 1rem;
}

.tetris__controls {
  grid-area: 2 / 1;
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 21rem;
  width: 16rem;
  margin-top: 10rem;
}

.tetris__controls * {
  padding: 0;
  margin: 0;
  color: var(--mainText);
}

.tetris__controls h4 {
  text-align: center;
}

.tetris__canvas-wrapper {
  grid-area: 2 / 2 / auto / 3;
  justify-self: center;
}
  
.tetris__canvas {
  display: flex;
  box-sizing: border-box;
  height: 560px;
  width: 280px;
  background-color: #cffffb;
}

.tetris__grid {
  height: 560px;
  width: 280px;
  position: fixed;
  opacity: 10%;
  background-image: url('../img/tetris-bg--medium.png');
}

.tetris__stats {
  grid-area: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  height: 15rem;
  width: 20rem;
  margin-top: 10rem;
}

.tetris__stats * {
  text-align: center;
  font-size: 3.6rem;
  padding: 0;
  margin: 0;
  color: var(--mainText);
}

.tetris__intro {
  grid-area: 1 / 1 / auto / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
}

.tetris__title {
  margin: 0;
  text-decoration: underline;
  font-size: 5rem;
}

.tetris__languages {
  font-size: 3rem;
  margin: 0;
}

.tetris__code {
  grid-area: 3 / 2;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto 1rem auto;
  height: 2.5rem;
  width: 27rem;
  border: 0.1rem solid var(--mainText);
  border-radius: 0.5rem;
}

.tetris__code h6 {
  font-size: 2rem;
  margin: 0;
}

.tetris__start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  padding: 2rem;
  color: var(--mainText);
  background-color: var(--navColor);
  cursor: pointer;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px var(--secondaryColor);
}

@media (max-width: 800px) {
  .tetris {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7rem 0.5fr 0.5fr 5rem;
    gap: 0;
  }

  .tetris__canvas {
    height: 560px;
    width: 280px;
  }

  .tetris__title {
    font-size: 4rem;
  }

  .tetris__languages {
    font-size: 2.5rem;
    padding: 1rem;
  }

  .tetris__controls {
    display: none;
  }  

  .tetris__canvas-wrapper {
    grid-area: 2 / 1 / 4 / 2;
    justify-self: right;
  }
  
  .tetris__stats {
    grid-area: 2 / 2;
    justify-self: center;
  }

  .tetris__code {
    grid-area: 4 / 1 / auto / 3;
    margin: 0 auto;
  }

  .tetris__start {
    left: 30%;
  }
}

@media (max-width: 600px) {
  .tetris {
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 1fr 13rem 4rem;
    align-content: center;
    gap: 0.5rem;
  }

  .tetris__title {
    font-size: 3rem;
  }

  .tetris__languages {
    font-size: 2rem;
    padding: 0 1rem;
}

  .tetris__canvas, .tetris__grid {
    height: 400px;
    width: 200px;
  }

  .tetris__grid {
    background-image: url('../img/tetris-bg--small.png');
  }

  .tetris__controls {
    display: none;
  }  

  .tetris__canvas-wrapper {
    grid-area: 2 / 1 / 3 / auto;
    justify-self: center;
  }
  
  .tetris__stats {
    grid-area: 3 / 1;
    margin: 0;
    height: 11rem;
  }

  .tetris__stats h4 {
    font-size: 3rem;
  }

  .tetris__start {
    left: 50%;
  }

}