html {
  font-size: 10px;
}

body {
  background-color: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 3.6rem;
  text-align: center;
}

.is-hidden {
  display: none;
}

.tetris {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr 5rem;
  margin: 9rem 0 4rem 0;
  gap: 1rem;
}

.tetris__controls {
  grid-area: 1 / 1;
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-top: 10rem;
}

.tetris__controls * {
  text-align: left;
  font-size: 2.3rem;
  padding: 0;
  margin: 0;
  color: #fff;
}

.tetris__controls h4 {
  font-size: 2.7rem;
  text-decoration: underline;
}

.tetris__canvas-wrapper {
  grid-area: 1 / 2 / auto / 3;
  justify-self: center;
  position: relative;
  border: 1rem solid #fff;
}
  
.tetris__canvas {
  display: flex;
  box-sizing: border-box;
  height: 560px;
  width: 280px;
  background-color: #cffffb;
}

.tetris__stats {
  grid-area: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  height: 15rem;
  width: 20rem;
  margin-top: 10rem;
}

.tetris__stats * {
  text-align: left;
  text-transform: capitalize;
  font-size: 3.6rem;
  padding: 0;
  margin: 0;
  color: #fff;
}

.tetris__languages {
  font-size: 3rem;
  margin: 0;
}

.tetris__code {
  grid-area: 2 / 2;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto 1rem auto;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
}

.tetris__code a {
  text-decoration: none;
  padding: 0.5rem;
}

.tetris__code h6 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}

.tetris__start, .tetris__replay {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.1rem;
  padding: 1rem;
  width: 80%;
  color: #fff;
  cursor: pointer;
  font-family: 'Russo One', sans-serif;
  text-shadow: 0 4px rgb(0, 0, 0);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 3px 3px #000;

  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0.6473317865429234) 19%, rgba(91,91,91,0.6496519721577726) 63%, rgba(180,180,180,0.6519721577726219) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.6473317865429234) 19%, rgba(91,91,91,0.6496519721577726) 63%, rgba(180,180,180,0.6519721577726219) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0.6473317865429234) 19%, rgba(91,91,91,0.6496519721577726) 63%, rgba(180,180,180,0.6519721577726219) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#b4b4b4",GradientType=1); 
}

.tetris__replay {
  top: 80%;
  font-size: 3rem;
}

.tetris__start:hover, .tetris__replay:hover {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0.8491879350348028) 19%, rgba(91,91,91,0.851508120649652) 63%, rgba(180,180,180,0.8491879350348028) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8491879350348028) 19%, rgba(91,91,91,0.851508120649652) 63%, rgba(180,180,180,0.8491879350348028) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0.8491879350348028) 19%, rgba(91,91,91,0.851508120649652) 63%, rgba(180,180,180,0.8491879350348028) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#b4b4b4",GradientType=1); }

.tetris__grid, .tetris__title-screen, .tetris__grey-bg {
  height: 560px;
  width: 280px;
  left: 0;
  position: absolute;
}

.tetris__grid {
  opacity: 10%;
  background-image: url('../img/tetris-bg--medium.png');
}

.tetris__game-over, .tetris__paused {
  position: absolute;
  height: 54px;
  width: 280px;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Russo One', sans-serif;
  text-shadow: 0 4px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.tetris__game-over:hover {
  cursor: default;
}

.tetris__grey-bg {
  z-index: 1;
  background-color:#808080;
  opacity: 0.5;
}

@media (max-width: 800px) {
  .tetris {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 5rem;
    margin: 11rem 0 4rem 0;
    gap: 0;
  }

  .tetris__languages {
    font-size: 2.5rem;
    padding: 1rem;
  }

  .tetris__controls {
    display: none;
  }  

  .tetris__canvas-wrapper {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .tetris__stats {
    grid-area: 1 / 2;
    justify-self: center;
  }

  .tetris__code {
    grid-area: 2 / 1;
    margin: 0 auto;
  }

}

@media (max-width: 600px) {
  .tetris {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10rem 4rem;
    align-content: center;
    gap: 0.5rem;
  }

  .tetris__languages {
    font-size: 2rem;
    padding: 0 1rem;
}

  .tetris__canvas, .tetris__grid, .tetris__title-screen, .tetris__grey-bg {
    height: 400px;
    width: 200px;
  }

  .tetris__grid {
    background-image: url('../img/tetris-bg--small.png');
  }

  .tetris__game-over {
    position: absolute;
    height: 44px;
    width: 200px;
    font-size: 3.5rem;
  }

  .tetris__replay {
    top: 80%;
    font-size: 2.6rem;
    width: 90%;
  }

  .tetris__controls {
    display: none;
  }  

  .tetris__canvas-wrapper {
    grid-area: 1 / 1;
    justify-self: center;
  }
  
  .tetris__stats {
    grid-area: 2 / 1;
    margin: 0 0 0 4rem;
    width: 12rem;
    height: 8rem;
  }

  .tetris__stats h4 {
    font-size: 2rem;
  }

  .tetris__start {
    left: 50%;
  }

  .tetris__code {
    grid-area: 3 / 1;
  }

}