body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
}

.tetris-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.canvas-wrap {
  grid-column: 2/3;
  grid-row: 1/4;
}
  
canvas {
  border: 1px solid #fff;
  height: 90vh;
  margin: auto;
}

.stats {
  grid-column: 3;
  grid-row: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 100px 0 0 30px;
  border: 1px solid white;
}

.level {
  
}

.score {

}